<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-2 col-xs-1" *ngFor="let item of artists">
    <div class="card mb-5 cursor-pointer" [ngbTooltip]="item.name" (click)="selectArtist.emit(item)">
      <img [src]="item.picture_medium" class="card-img-top" [alt]="item.name">
      <div class="card-body">
        <h5 class="card-title ellipsis">{{item.name}}</h5>
        <h5 class="card-text"><span class="badge bg-primary">{{item.nb_fan | count}} Fans</span></h5>
      </div>
    </div>
  </div>
</div>